@media screen and (max-width: 1200px) {
  .searchbar {
    width: 200px;
  }
}

@media screen and (max-width: 1200px) {
  .social {
    display: none;
  }
  .mainbody {
    display: block;
  }
}

@media screen and (max-width: 1160px) {
  #punkname {
    font-size: 40px;
  }
  .logoutinfo {
    display: none;
  }
  .g-signin2 {
    margin-left: 50px;
    margin-right: auto;
  }
}

@media screen and (max-width: 800px) {
  .searchbar {
    display: none;
  }
  #mainimage {
    width: 150px;
    height: 150px;
  }
  .wallet {
    display: none;
  }

  .ind {
    display: none;
  }

  .maininfo {
    margin-right: 100px;
  }

  .logo img {
    margin-right: 0px;
  }

  .mainbody {
    margin-right: 0px;
  }

  .p {
    margin-right: 0px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 390px) {
  .searchbar {
    display: none;
  }

  .temp img {
    width: 120px;
  }
  .cost img {
    width: 16px;
    margin: 7px;
    margin-right: 5px;
  }
  .temp1 {
    padding-bottom: -12px;
    margin-left: 5px;
  }

  .signout {
    padding: 0px;
    margin: 0px;
    margin-left: 2px;
  }
  #punkname {
    font-size: 30px;
  }
  .logo {
    display: none;
  }
}
